<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dashcontrol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DashControl"
        android:usesCleartextTraffic="true">
        <activity android:name=".AcitivityTestes"></activity>
        <activity
            android:name=".DataEspWeb"
            android:label="@string/title_activity_data_esp_web"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DashControl.NoActionBar" />
        <activity
            android:name=".DashWeb"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CadastrarUsuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetDataEsp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashLocal"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigureEsp"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>